@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");


.searchBarWrapper {
    height: 100%;
    width: 100vw;
    background-color: red;
}


@media only screen and (min-width: 913px) {
    .landingPageSearchWrapper {
        display: none;
    }
}

@media only screen and (max-width: 913px) {
    .landingPageSearchWrapper {
        width: 100%;
    }
}